.Header {
    padding: 0rem 2rem;
    border-bottom: 1px solid rgba(189, 189, 192, 0.2);
    position: fixed;
    right: 2%;
    background-color: rgba(7, 6, 6, 0.2);
    width: 70%;
    background-color: #000;
}

.Header__name {
    color: #fff;
}